<link rel="stylesheet" href="css/style.css">
<blockquote>"Technology is a gift of God. After the gift of life it is perhaps the greatest of God's gifts. It is the mother of civilizations, of arts and of sciences." - Freeman Dyson</blockquote>
<h3>Ready for the tool that will make the world even smarter and gooder?</h3>
<h2>It's coming. It's...</h2>
<h1>Doodileedoodah</h1>
<!--https://martandreadventures.files.wordpress.com/2014/02/mindblown_70fd3809beb4abf3f7497785243071ca.jpg -->
<img src="images/mindblown.jpg" width="600" height="350">