    <div class="col-xs-12 col-md-6"><blockquote>"Wow my biceps are weak!" - Brandon</blockquote></div>
    <div class="col-xs-12 col-md-6"><h3>Well wait no longer!</h3>
    <h2>It's coming. It's...</h2>
    <h1>BICEPTION!!</h1></div>
    <!--http://th05.deviantart.net/fs70/PRE/i/2012/138/3/c/really_huge_biceps_by_n_o_n_a_m_e-d506u4d.jpg -->
    <img src="images/really_huge_biceps.jpg" width="600" height="450" alt="big biceps">
