<link rel="stylesheet" href="css/style.css">
<blockquote>"Technology is nothing. What's important is that you have a faith in people, that they're basically good and smart, and if you give them tools, they'll do wonderful things with them." - Steve Jobs</blockquote>
<h3>Ready for the tool that will make the world even smarter and gooder?</h3>
<h2>It's coming. It's...</h2>
<h1>Jabberwocky</h1>
<!-- http://static.comicvine.com/uploads/original/11/111746/4352679-jabberwocky_concept_by_michael_kutsche.jpg -->
<img src="images/jabberwocky.jpg" width="600" height="350">