<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>One Layout File</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </head>
    <body class="container">

    <div class="col-xs-12 col-md-6">
      <p>Holidays this month</p>
      <ul>
      <%
        time = Time.new
        holidays = HolidApi.get(country: 'us', year: time.year, month: time.month)
      %>
      <% holidays.each do |hol| %>
          <li><%= hol[0]['name'] %></li>
      <% end %>
      </ul>
    </div>

    <div class="col-xs-12 col-md-6">
      <p>Holidays From my Birth Month (March)</p>
      <ul>
      <%
      holidays = HolidApi.get(country: 'us', year: 1994, month: 3)
      %>
      <% holidays.each do |hol| %>
        <li><%= hol[0]['name'] %></li>
      <% end %>
      </ul>
    </div>


    </body>
</html>